body {
    margin: auto;
    width: 500px;
}

.grid_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    background-color: rgb(29, 64, 129);
    border: 6px rgb(150, 211, 160) solid;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(0, 3, 5);
}

h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 30px;
    color: white;
    margin-top: 3em;
    text-shadow:rgb(24, 146, 71) 1px 0 10px;
}

img {
    padding: 15px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 30px;
}

h2 {
    font-size: 30px;
    text-shadow: rgb(53, 204, 111) 1px 0 1px;
}

footer {
    height: 90px;
    border-radius: 30px;
    background-color: rgb(29, 64, 129);
}

p {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: white
}

.date_info{
    font-size: 17px;
    color: rgb(223, 223, 30)
}