@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Sarabun:ital,wght@1,300&display=swap');

body{
    font-family: 'Didact Gothic', 'Sarabun', sans-serif;
}

main{
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.display{
    border: 2px solid rgb(33, 33, 80);
    border-radius: 5px;
}




