@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Sarabun:ital,wght@1,300&display=swap');

body{
    margin: 0 auto;
    padding: 35px;
    font-family: 'Didact Gothic', 'Sarabun', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

img{
    border-radius: 7px;
    max-width: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    object-fit: cover;
}

img.loaded {
    opacity: 1;
}

#menu{
    background-color: #ffffff;
    color: #222a5d;
    border-color: #ffffff;
    
}

.facebook{
    display: block;
    position: absolute;
    transform: translate(-50%, -71%);
    width: 40px;
}

.linkedin{
    display: block;
    position: absolute;
    transform: translate(80%, -75%);
    width: 35px;
}

h3 {
    display: block;
	position: absolute;
	top: 140px;
	right: 46%;
}

nav{
    margin-top: 25px;
    padding: 15px;
    width: 90%;
}

ul {
    padding: 0;
}

.nav-ul li{
    margin: 0px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #896244;
}

.nav-ul li:hover {
	background-color: #bbb;
	font-weight: 700;
}

a{
    text-decoration: none;
    color: rgb(34, 42, 93);
}

#button{
    display: block;
	position: absolute;
	top: 145px;
	right: 40px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .3rem;
    border: 2px solid;
    border-radius: 8px;
    border-color: #222a5d;
	color: #0A6675;
}

.nav-ul li {
    display: none;
}

.nav-ul.responsive li {
    display: block;
	width: 100%;
}

.nav-ul.responsive li a {
    display: block;
}

#date {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0A6675;
    color: #ffffff;
    margin: 0px 5px 20px 30px;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid #065143;

}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr;
    gap: 5px;
    text-align: center;
    background-color: #896244;
}

div {
    border: 1px solid;
    padding: 10px;
    background-color: #0A6675;
    color: #ffffff;
    border-radius: 8px;
}

#spotlight{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 10px;
    gap: 5px;
}

#join{
    display: none;
}

footer{
    margin: 0 auto;
    padding: 10px;
}

#footer-img{
    width: 70%;
    object-fit: cover;
}

#info-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    text-align: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    border: 5px solid #065143;
}

.copy{
    text-align: center;
}


#hero{
    position: relative;
}

#welcome-title{
    position: absolute;
    padding: 5px 10px;
    top: 0rem;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);;
    color: #ffffff;
}

#weather{
    text-align: center;
}

#weather-img{
    width: 40%;
    object-fit: cover;
}

#event{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#expo{
    width: 60%;
    object-fit: cover;
}

#new-release{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#join-us{
    display: none;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #896244;
    text-align: center;
}

#initiatives{
    line-height: 30px;
    background-color: #222a5d;
    padding: 2px;
}

#spotlight-1{
    position: relative;
    padding: 0px;
    max-width: 100%;
}
#spotlight-2{
    position: relative;
    padding: 0px;
    max-width: 100%;
}
#spotlight-3{
    display: none;
    padding: 0px;
} 

.spotlight-text{
    position: absolute;
    padding: 5px 10px;
    top: 0rem;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);;
    color: #ffffff;
    box-sizing: border-box;
}

#discover-main{
    margin: 0 auto;
    max-width: 800px;
}

.discover-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 750px;
    text-align: center;
    margin: 30px 0px 30px;
    
}

.discover-img-container:hover{
    transform: scale(1.1);
}

#discover-title-container{
    background-color: white;
    margin: 60px 0px 0px;
}
#discover-title{
    color: black;
}

#line{
    background-color: #896244;
}

#last-day{
    background-color: #896244;
}
#storage-day{
    margin: 0px;
    text-align: center;
}

#city-data-container{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.montevideo-data{
    text-align: center;
    color: black;
}

#arrow{
    font-size: 4rem;
    text-align: center;
    color: black;
}

