@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Sarabun:ital,wght@1,300&display=swap');

body{
    margin: 0 auto;
    padding: 20px;
    font-family: 'Didact Gothic', 'Sarabun', sans-serif;
}

body.discover-body{
    padding: 35px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

img{
    border-radius: 7px;
    max-width: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    object-fit: cover;
}

img.loaded {
    opacity: 1;
}

#menu{
    background-color: #ffffff;
    color: #222a5d;
    border-color: #ffffff;
    
}

.facebook{
    display: block;
    position: absolute;
    transform: translate(-50%, -71%);
    width: 40px;
}

.linkedin{
    display: block;
    position: absolute;
    transform: translate(80%, -75%);
    width: 35px;
}

nav{
    margin-top: 25px;
    padding: 15px;
    width: 90%;
}

ul {
    padding: 0;
}

.nav-ul li{
    margin: 0px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #896244;
}

.nav-ul li:hover {
	background-color: #bbb;
	font-weight: 700;
}

a{
    text-decoration: none;
    color: rgb(34, 42, 93);
}

#button{
    display: block;
	position: absolute;
	top: 150px;
	right: 40px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .3rem;
    border: 2px solid;
    border-radius: 8px;
    border-color: #222a5d;
	color: #0A6675;
}

.nav-ul li {
    display: none;
}

.nav-ul.responsive li {
    display: block;
	width: 100%;
}

.nav-ul.responsive li a {
    display: block;
}

#date {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0A6675;
    color: #ffffff;
    margin: 0px 5px 20px 30px;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid #065143;

}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr;
    gap: 5px;
    text-align: center;
    background-color: #896244;
}

div {
    border: 1px solid;
    padding: 10px;
    background-color: #0A6675;
    color: #ffffff;
    border-radius: 8px;
}

#spotlight{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 10px;
    gap: 5px;
}

#join{
    display: none;
}

footer{
    margin: 0 auto;
    padding: 10px;
}

#footer-img{
    width: 70%;
    object-fit: cover;
}

#info-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    text-align: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    border: 5px solid #065143;
}

.copy{
    text-align: center;
}


#hero{
    position: relative;
}

#welcome-title{
    position: absolute;
    padding: 5px 10px;
    top: 0rem;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);;
    color: #ffffff;
}

#weather{
    text-align: center;
}

#weather-img{
    width: 40%;
    object-fit: cover;
}

#event{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#expo{
    width: 60%;
    object-fit: cover;
}

#new-release{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#join-us{
    display: none;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #896244;
    text-align: center;
}

#initiatives{
    line-height: 30px;
    background-color: #222a5d;
    padding: 2px;
}

#spotlight-1{
    position: relative;
    padding: 0px;
    max-width: 100%;
}
#spotlight-2{
    position: relative;
    padding: 0px;
    max-width: 100%;
}
#spotlight-3{
    display: none;
    padding: 0px;
} 

.spotlight-text{
    position: absolute;
    padding: 5px 10px;
    top: 0rem;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);;
    color: #ffffff;
    box-sizing: border-box;
}

.center-main{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.discover-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 750px;
    text-align: center;
    margin: 30px 0px 30px;
    
}

.discover-img-container:hover{
    transform: scale(1.1);
}

#discover-title-container{
    background-color: white;
    margin: 60px 0px 0px;
}
#discover-title{
    color: black;
}

#line{
    background-color: #896244;
}

#last-day{
    background-color: #896244;
}
#storage-day{
    margin: 0px;
    text-align: center;
}

#city-data-container{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.montevideo-data{
    text-align: center;
    color: black;
}

#arrow{
    font-size: 4rem;
    text-align: center;
    color: black;
}

.thanks{
    background-color: #896244;
    margin: 5rem 1rem 5rem 1rem;
}

/*---------FORM-------------------*/

form fieldset{
    margin: 2rem 0;
    border: 2px solid #222a5d;
    border-radius: 10px;
    padding: .5rem 2% 1rem;
}

form legend{
    color: #896244;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #065143;
}

form label.top input, form label.top textarea{
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    padding: .75rem;
    color: #555;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.side{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitButton{
    border: none;
    background-color: #896244;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 1rem 2%;
    width: 80%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

#levels{
    background-color: #ffffff;
    color: black;
    border: none;
}



/*--------------Directory page------------*/

.directory-container{
    margin: 2rem auto;
    background-color: #896244;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directory-container label{
    font-size: 1.5rem;
}

.directory-container button{
    width: 2rem;
    height: 2.5rem;
    font-size: 1.3rem;
	padding: .3rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: #222a5d;
	color: #0A6675;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #0A6675;
    border-radius: 7px;
}

.grid section{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    border: 2px solid #896244;
    border-radius: 5px;
    padding: 1rem;
    background-color: #ffffff;
    height: 210px;
    line-height: 5px;
}

.grid img{
    width: 100%;
    max-width: 180px;
    max-height: 80px;
}

.list img{
    display: none;
}

.list{
    display: flex;
    flex-direction: column;
}

.list section:nth-child(even){
    background-color: #d2edf1;
}

.list section{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}